.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item {
    flex-basis: calc(33.333% - 10px);
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.gallery-image:hover {
    transform: scale(1.05);
}